/* @import "bullet_threading.scss"; */

:root {
  --ct-bullet-size: 6px;
  --ct-block-max-width: calc(100% - 38px);
  --ct-bullet-color: #4d4d4d;
  --ct-bullet-closed-color: #8e8e8e;
  --ct-guideline-color: #cacaca;
  --ct-guideline-size: 1px;
  --ct-guideline-style: solid;
  --ls-block-bullet-active-color: var(--ls-link-text-color);
}

/* block reference */
.block-ref {
  display: inline;
  font-size: inherit;
  border-bottom-color: var(--ct-primary-color);
  border-bottom-style: dashed;
}

.block-body  {
  width: 100%;
}

.block-body .raw_html {
  max-width: 100%;
}

.block-ref .block-body {
  display: inline-block;
}

.block-ref div {
  display: inline;
}

.block-ref .flex.flex-row.justify-between {
  display: inline;
}

.block-ref .block-ref {
  display: inline;
  padding: 0 0 0 0.2em;
}

.open-block-ref-link {
  opacity: 1;
  font-weight: 600;
  font-variant-numeric: tabular-nums;
}

.bullet-container .bullet {
  width: var(--ct-bullet-size);
  height: var(--ct-bullet-size);
  transform: scale(1.2);
}

.bullet-container.bullet-closed .bullet {
  background-color: var(--ls-primary-background-color);
  box-shadow: 0 0 1px 2px var(--ls-block-bullet-border-color);
}

a:hover > .bullet-container .bullet {
  opacity: 1;
}

/* ======================================= */
/* from bullet_threading.scss              */
/* remove drifting of blocks               */
.ls-block div.items-center {
  position: relative;
  height: 26px !important;
}
/* ======================================= */

/* ======================================= */
/* from logseq-laurel-theme                */
/* vertical lines and bullets highlights   */
.block-children {
  border-left: var(--ct-guideline-size) var(--ct-guideline-style)
    var(--ct-guideline-color);
}

.block-children:focus-within {
  border-color: var(--ct-page-reference-color);
}

/*=============================================================================================================================
==== highlight current path by cannnibalox v0.2 https://discuss.logseq.com/t/css-highlights-current-path-bullets-color/371 ====
=============================================================================================================================*/
.ls-block .bullet {
  background-color: var(--ct-page-reference-color);
  box-shadow: 0 0 0 2px var(--ct-background),
    0 0 0 3px var(--ct-page-reference-color);
}

.ls-block:not(:focus-within) .bullet {
  background-color: var(--ct-bullet-color);
  box-shadow: none;
}

// block toggle rounded border, adapt for new block toggle styles in upstream, see logseq/logseq#3559 (1427d05)
.block-children-container {
  position: relative;
}

.block-children-left-border {
  z-index: 10;
  position: absolute;
  height: 100%;
  width: 4px;
  padding-right: 0px;
  border-radius: 2px;
  background-color: transparent;
  left: -1px;
  transition: background-color 0.2s;
}

.block-children-left-border:hover {
  background-color: var(--ls-block-bullet-active-color);
}
/* ======================================= */

.block-control svg {
  color: var(--ct-block-arrow-color);
}

/* remove the shadow of the block controller */
/*
.block-control:hover svg {
  filter: drop-shadow(2px 4px 6px black);
}
*/

/* remove the shadow of the block controller */
.block-control .rotating-arrow {
  display: block;
  // border-radius: 50%;
  // background-color: var(--ls-primary-background-color);
  width: 1rem;
  height: 1rem;
  margin-left: 2px;
  margin-top: 2px;
  // box-shadow: 0 0 4px 2px var(--ls-primary-background-color);
}

.block-control .rotating-arrow > svg {
  margin-left: 0 !important;
}

// hovering block indicator
.block-content-wrapper > div > .block-content {
  & > span > span > :first-child {
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 4px;
      height: 10px;
      top: calc(50% - 5px);
      left: -8px;
      transform: scaleY(0.5);
      transition: all 0.2s;
      opacity: 0;
      background: var(--ct-primary-color);
      border-radius: 2px;
    }
  }

  &:hover > span > span > :first-child::before {
    opacity: 1;
    transform: scaleY(1);
  }
}

/* Block oversize issue */
.block-content-wrapper {
  max-width: var(--ct-block-max-width);
}

.block-content-wrapper > div.flex-1 {
  width: 100%;
}

.block-content .resize {
  max-width: -webkit-fill-available;
}
